/*ANIMATIONS*/
.animation-graphic {
  margin-top: 50px;


}
svg {
  width: 60%;
  display: block;
  margin: auto;
  opacity: 1;


}
@-webkit-keyframes color-change {
  0% {
    fill: white;
  }
  50% {
    fill: #F2FDFA;
  }
  100% {
    fill: #2378AA;
  }
}
@keyframes color-change {
  0% {
    fill: white;
  }
  50% {
    fill: #F2FDFA;
  }
  100% {
    fill: #2378AA;
  }
}

#light-bulb .st9 {
  /*animation-delay: 12s;*/
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes small-cog-move {
   0% {
        -webkit-transform: rotate(0deg);
  
    }
    100% {
        -webkit-transform: rotate(360deg);
    
    }
}

@keyframes small-cog-move {
   0% {
        -webkit-transform: rotate(0deg);
  
    }
    100% {
        -webkit-transform: rotate(360deg);
    
    }
}

#small-cog {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: small-cog-move;
          animation-name: small-cog-move;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: 100% 35%;
          transform-origin: 100% 35%;

}

@-webkit-keyframes large-cog-move {
   0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
  
    }
}

@keyframes large-cog-move {
   0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
  
    }
}
#large-cog {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: large-cog-move;
          animation-name: large-cog-move;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: 100% 35%;
          transform-origin: 100% 35%;
}



@-webkit-keyframes shake {

  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}



@keyframes shake {

  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes flash-colour {
  0% {
    fill: #2378AA;
  }
  50% {
    fill: white;
  }
  100% {
    fill: #2378AA;
  }
}

@keyframes flash-colour {
  0% {
    fill: #2378AA;
  }
  50% {
    fill: white;
  }
  100% {
    fill: #2378AA;
  }
}

#pen-tool {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; 
  -webkit-animation-name: shake; 
          animation-name: shake;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; 
}

.full-brush {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; 
  -webkit-animation-name: shake; 
          animation-name: shake;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; 
}

#large-pencil {
 -webkit-animation-delay: 0s;
         animation-delay: 0s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; 
  -webkit-animation-name: shake; 
          animation-name: shake;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; 
}

#flash {
  -webkit-animation-delay:9s;
          animation-delay:9s;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s; 
  -webkit-animation-name: flash-colour; 
          animation-name: flash-colour;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; 
}

#ruler {
  -webkit-animation-delay:6s;
          animation-delay:6s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; 
  -webkit-animation-name: shake; 
          animation-name: shake;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; 
}


#play .st9 {
  -webkit-animation-delay:3s;
          animation-delay:3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; 
  -webkit-animation-name: flash-colour; 
          animation-name: flash-colour;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; 
}

@-webkit-keyframes coding {
  0% { display: none;
      opacity: 0;
  }
  25% {
      display: none;
      opacity: .15;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  75% {
    display: block;
    opacity: 0.75;
  }
  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes coding {
  0% { display: none;
      opacity: 0;
  }
  25% {
      display: none;
      opacity: .15;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  75% {
    display: block;
    opacity: 0.75;
  }
  100% {
      display: block;
      opacity: 1;
  }
}

#code {
  -webkit-animation-name: coding;
          animation-name: coding;
  -webkit-animation-duration: 20s;
          animation-duration: 20s; 
}



