
@media screen and (min-width: 375px) and (max-width: 700px) {
	.navbar {
		display: block;
		background-color: var(--background-color);
	}
	.navbar ul {
		display: block;
	
	}
	.navbar li {
		background-color: #fff;
		width: 200px;
		margin: 0 auto;
		margin-top: 5px;
		border-radius: 10px;
		text-align: center;
		border: 3px solid var(--primary-color);
	}

	.navbar li:hover {
		background-color: var(--secondary-color);
		color: #fff;
	}
	.navbar li a {
		font-size: 1.5rem;
		font-weight: bold;
	}
	.navbar li a:hover {
		color: #fff;
	}
	.banner-image {
		display: none;
	}
	.intro-title {
		clear:both;
		width: 400px;
		text-align: center;
	}
	.grid {
		grid-template-columns: 1fr;
	}
	
	#message{
		width: 370px;

	}
	.callToAction p{
		width: 300px;
		margin: 0 auto;
		padding: 20px 0px 20px 0px;
	}

	.contactWrapper .contactForm {
		width: 375px;
		margin-left: 40px;
		margin-bottom: 20px;
	}
	main img{
		display: none;
	}
	#message {
		width: 320px;
	}
	.profile {
		width:400px;
	}
.profile img {
	width: 100%;
	margin-bottom: 20px;
}
	.footer {
		margin: 0 auto;
	}
.animation-graphic svg{
	width: 100%;
}
}


@media all and (min-width: 651px) {
 
	.grid {
		grid-template-columns:1fr 1fr;
	}
	.navbar {
		display: flex;
	}
}
.contactForm {
	width: 600px;
}
@media all and (min-width: 1200px) {
	.grid {
		grid-template-columns:1fr 1fr 1fr;
	}
}

@media all and (min-width: 1900px) {
	.grid {
		grid-template-columns:1fr 1fr 1fr ;
	}
}